body {background-color: rgb(235, 235, 224);}

.navbar {margin-bottom:0px;
border-radius: 0;}

.jumbotron {background-image: url(Leeds-skyline.jpg);
background-size: cover;
min-height: 300px;
max-height: 300px;
margin-bottom: 30px;
margin-top: 0px;}

.jumbotron h1 {margin-top:60px;
color: white;
font-size: 50px;
margin-bottom: 0px;
}

@media(min-width: 992px) {
  .jumbotron h1 {
    margin-top:140px;
    font-size: 120px;
  }
}

h2 {margin-top: 0;}

.well {padding:0;
overflow:hidden;}

#student-union-pic {
min-height: 250px;}

#leeds-beckett-pic {
min-height:250px;}

.main-text {text-align: justify;}

.hover-images {margin-bottom: 20px;}

.hover-images:hover {
   transform: scale(3, 3);
    align-content: center;
    z-index: 1;
    position: relative;
}

.hover-images2:hover {
   transform: scale(3, 3);
    align-content: center;
    z-index: 1;
    position: relative;
}

#image{
    width:50px;
    height:50px;
}

#image:hover{
    width:100px;
    height:100px;
}